%header
  %h1 Dashboard

%section#dashboard
  .row
    .col-sm-2
      %ul.nav.nav-pills.nav-stacked{role: 'tablist'}
        %li{role: 'presentation', class: 'active'}
          %a{href: '#integrations', 'aria-controls' => 'integrations', role: 'pill', 'data-toggle' => 'pill'}
            Integrations
            %span.badge.pull-right 1
        %li{role: 'presentation'}
          %a{href: '#reports', 'aria-controls' => 'reports', role: 'pill', 'data-toggle' => 'pill'}
            Reports
            %span.badge.pull-right 4
        %li{role: 'presentation'}
          %a{href: '#tutorials', 'aria-controls' => 'reports', role: 'pill', 'data-toggle' => 'pill'}
            Tutorials
            %span.badge.pull-right 0

    .col-sm-10
      .tab-content

        %section{role: 'tabpanel', class: 'tab-pane active', id: 'integrations'}
          %h3 Integrations
          .col-xs-4
            .panel.panel-primary
              .panel-heading
                %h4.panel-title Google
              .panel-body
                %ul
                  %li= "Email: #{current_account.email}"

          .col-xs-4
            .panel.panel-primary
              .panel-heading
                %h4.panel-title Slack
              .panel-body
                %a{href: '#', class: 'btn btn-default'} Add Slack integration

        %section{role: 'tabpanel', class: 'tab-pane', id: 'reports'}
          %h3 Reports
          %section#loading-reports
            %b Loading your reports...
            .progress.progress-striped.active
              .progress-bar{style: 'width: 80%'}

        %section{role: 'tabpanel', class: 'tab-pane', id: 'tutorials'}
          %h1 Tutorials!
